@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
  scroll-behavior: smooth;
}

:root {

    --dark: rgba(42, 42, 46, 1);
    --gray-dark: rgb(51, 51, 55);
    --green: #A0D468;
    --dark-green: #8CC152;
    --red: #E9573F;
    --blue: #4A89DC;
    --aqua: #3BAFDA;
    --pink: #EC87C0;
    --gray: #b7bbc0;

    --primary-color: #3bafda;
    --warning-color: #f6bb42;
    --danger-color: #d9534f;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-dark);
    color: white;

}

.container 
{
  min-height: calc(100vh - 145px);
}

table.list td
{
  padding-left: 8px;
}

/* Color manage  */


/* Navigation  */

nav.navbar 
{
    background-color: var(--dark);
    font-size: 1.1em;
}




nav.navbar ul li a 
{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav.navbar ul li a:hover, nav.navbar ul li .dropdown:hover, nav.navbar ul li .dropbtn
{
    color: var(--gray);
    transition: 0.5s;
    
}

nav.navbar ul li 
{
    display: inline-block;
    padding: 12px;
    margin: 0 7px 0 0;
}

nav.navbar ul li.navbar-right 
{
    float: right;
    margin-right: 15px;
}

.dropdown {
    display: inline-block;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    display: inline-block;
    padding: 12px;
    margin-right: 7px;
    border: none;
    color: white;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: var(--gray);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* Footer  */

footer.minified-footer
{
    position: absolute;
    background-color: var(--dark);
    color: white;
    width: calc(100% - 20px);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    text-align: center;
    height: 50px;
}


footer.minified-footer .footer-right 
{
    grid-column: 3;
    margin-right: 10px;
}

footer.minified-footer .footer-left 
{
    grid-column: 1;
}

footer.minified-footer .footer-center 
{
    grid-column: 2;

}
/* Other */

.d-none 
{
  display: none;
}

h1.title-decoration, h2.title-decoration, h3.title-decoration, h4.title-decoration
{
    border-bottom: 1px solid;
}

.title {
  text-align: center;
}

/* BreadCrumb */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: var(--dark);
    border-radius: 3px;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: white;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: rgb(172, 165, 165);
    transition: 0.4s;
  }


/* CARD */

div.card 
{
    display: inline-block;
    box-shadow: 0px 10px 34px -18px rgba(0,0,0,0.75);
    background-color: var(--dark);
    margin: 10px;
    padding: 10px 10px 5px 10px;
    max-width: calc(33.33% - 50px);
    text-align: center;
}

div.card.card-full 
{
  max-width: none;
}

.card-admin div.card 
{
  min-width: 200px;
}

div.card.card-primary 
{
  background-color: var(--primary-color);
}

div.card.card-danger 
{
  background-color: var(--danger-color);
}

div.card.card-warning 
{
  background-color: var(--warning-color);
}

div.card.card-success 
{
  background-color: var(--green);
}

/* #Larger than mobile  */
@media screen and (max-width: 700 px)
{
    div.card 
    {
        max-width: calc(100% - 50px);
    }


}

div.card-header img.card-logo 
{
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    top: 45px;
}
div.card .card-footer 
{
    font-size: small;
    margin-top: 5px;
}

form input {
  color: black;
  font-size: 16px;
}


span.anchor-up 
{
  display: inline-block;
  position: fixed;
  z-index: 2;
  bottom: 10px;
  right: 10px;
  padding: 10px 9px 5px 9px;
  border-radius: 50%;
  color: white;
  background-color: var(--dark);
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.3em;
  height: 1.3em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect 
{
  fill: white;
}


.svg-icon path:hover,
.svg-icon polygon:hover,
.svg-icon rect:hover
{
  fill: red;
}

.svg-icon circle {
  stroke: white;
}

.alert 
{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  color: black
}

.alert-danger 
{
  background-color: var(--red);
}

/* * MEDIA QUERY LIST



#Larger than mobile 
@media (min-width: 400px) {}

#Larger than phablet 
@media (min-width: 550px) {}

#Larger than tablet 
@media (min-width: 750px) {}

# Larger than desktop
@media (min-width: 1000px) {}

# Larger than Desktop HD 
@media (min-width: 1200px) {} */
