@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


:root {

    --dark: rgba(42, 42, 46, 1);
    --gray-dark: rgb(51, 51, 55);
    --green: #A0D468;
    --dark-green: #8CC152;
    --red: #E9573F;
    --blue: #4A89DC;
    --aqua: #3BAFDA;
    --pink: #EC87C0;
    --gray: #b7bbc0;

    --primary-color: #3bafda;
    --warning-color: #f6bb42;
    --danger-color: #da4453;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-dark);
    color: white;
}


/* Color manage  */


/* Navigation  */

nav.navbar 
{
    background-color: var(--dark);
    font-size: 1.1em;
}



nav.navbar ul li a 
{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav.navbar ul li a:hover, nav.navbar ul li .dropdown:hover, nav.navbar ul li .dropbtn
{
    color: var(--gray);
    transition: 0.5s;
    
}

nav.navbar ul li 
{
    display: inline-block;
    padding: 12px;
    margin: 0 7px 0 0;
}

nav.navbar ul li.navbar-right 
{
    float: right;
    margin-right: 15px;
}

.dropdown {
    display: inline-block;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    display: inline-block;
    padding: 12px;
    margin-right: 7px;
    border: none;
    color: white;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: var(--gray);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* Footer  */

footer.minified-footer
{
    background-color: var(--dark);
    color: white;
    width: calc(100% - 20px);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    text-align: center;
    min-height: 15px;
    bottom: 0px;
}

footer.minified-footer .footer-right 
{
    grid-column: 3;
    margin-right: 10px;
}

footer.minified-footer .footer-left 
{
    grid-column: 1;
}

footer.minified-footer .footer-center 
{
    grid-column: 2;

}
/* Other */

h1.title-decoration, h2.title-decoration, h3.title-decoration, h4.title-decoration
{
    border-bottom: 1px solid;
}

/* BreadCrumb */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: var(--dark);
    border-radius: 3px;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: white;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: rgb(172, 165, 165);
    transition: 0.4s;
  }


/* CARD */

div.card 
{
    display: inline-block;
    box-shadow: 0px 10px 34px -18px rgba(0,0,0,0.75);
    background-color: var(--dark);
    margin: 10px;
    padding: 10px 10px 5px 10px;
    max-width: calc(33.33% - 50px);
    text-align: center;
}
/* #Larger than mobile  */
@media screen and (max-width: 700 px)
{
    div.card 
    {
        max-width: calc(100% - 50px);
    }


}

div.card-header img.card-logo 
{
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    top: 45px;
}
div.card .card-footer 
{
    font-size: small;
    margin-top: 5px;
}


/* * MEDIA QUERY LIST



#Larger than mobile 
@media (min-width: 400px) {}

#Larger than phablet 
@media (min-width: 550px) {}

#Larger than tablet 
@media (min-width: 750px) {}

# Larger than desktop
@media (min-width: 1000px) {}

# Larger than Desktop HD 
@media (min-width: 1200px) {} */
