@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/* Color manage  */

:root {

    --dark: #2a2a2e;
    --gray-dark: #333337;
    --green: #A0D468;
    --dark-green: #8CC152;
    --red: #E9573F;
    --blue: #4A89DC;
    --aqua: #3BAFDA;
    --pink: #EC87C0;
    --gray: #b7bbc0;

    --primary-color: #3bafda;
    --warning-color: #f6bb42;
    --danger-color: #da4453;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-dark);
    color: white;
}




/* Navigation  */

nav.navbar 
{
    background-color: var(--dark);
    font-size: 1.1em;
}



nav.navbar ul li a 
{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav.navbar ul li a:hover
{
    color: var(--gray);
    transition: 0.5s;
}

nav.navbar ul li 
{
    display: inline-block;
    padding: 12px;
    margin: 0 7px 0 0;
}

nav.navbar ul li.navbar-right 
{
    float:right;
    margin-right: 15px;
}


/* Footer  */

footer.minified-footer
{
    background-color: var(--dark);
    color: white;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    text-align: center;
    min-height: 15px;
    position: fixed;
    bottom: 0px;
}

footer.minified-footer .footer-right 
{
    grid-column: 3;
    margin-right: 10px;
}

footer.minified-footer .footer-left 
{
    grid-column: 1;
}

footer.minified-footer .footer-center 
{
    grid-column: 2;

}


/* Other */

h1.title-decoration, h2.title-decoration, h3.title-decoration, h4.title-decoration
{
    border-bottom: 1px solid;
}


/* BreadCrumb */


/* BreadCrumb */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: var(--gray-dark);
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: white;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }


/* * MEDIA QUERY LIST



#Larger than mobile 
@media (min-width: 400px) {}

#Larger than phablet 
@media (min-width: 550px) {}

#Larger than tablet 
@media (min-width: 750px) {}

# Larger than desktop
@media (min-width: 1000px) {}

# Larger than Desktop HD 
@media (min-width: 1200px) {} */
